/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2020, 10:46:08
    Author     : entra21
*/
    button{
        background-color: green;
        height: 50px;
        font-size: 15px;
        width: 140px;
        margin-left: 30px;
        margin-right: 30px; 
        margin-top: 10px;
        color: white;
    }
    .error{
        color: red;
        font-style: italic;
        font-size: 30px;
    }
    header {
        margin: 1px;
        padding: 1px; 
        text-align: center;
        font-size: 25px;
        color: black;
       
    }

    footer {
        width: 100%;
        left: 0px;
        height: 0px;
        position: fixed;
        bottom: 0px;
        background-color: #777;
        padding-bottom: 40px;
        text-align: center;
        color: white; 
    }
    a:link {
        text-decoration: none;
        }
            
    a:visited {
        text-decoration: none;
        }

    a:hover {
        text-decoration: underline;
        }

    a:active {
        text-decoration: underline;
        }
        
    ul.a {
        list-style-type: circle;
        }
        
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}   


    body {
        font-family: Arial;
        padding: 10px;
        background: #f1f1f1;
    }

    /* Estilize a barra de navegação superior */
    .topnav {
      overflow: hidden;
      background-color: activecaption;
    }

    /* Defina o estilo dos links topnav */
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 7px 23px;
      text-decoration: none;
    }

    /* Mudar a cor ao pairar */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Crie duas colunas desiguais que flutuam uma ao lado da outra */
    /* Coluna esquerda */
    .leftcolumn {   
      float: left;
      width: 19%;
    }

    /* Coluna direita */
    .rightcolumn {
      float: right;
      width: 81%;
      background-color: #f1f1f1;
      padding-left: 1px;
    }

    /* Imagem falsa */
    .fakeimg {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
    }

    /* Adicione um efeito de cartão para artigos */
    .card {
      background-color: white;
      padding: 30px;
      margin-top: 5px;
      margin-left: 10px;
    }

    /* Limpe os flutuadores após as colunas */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Layout responsivo - quando a tela tem menos de 800 px de largura, empilhe as duas colunas uma em cima da outra, em vez de uma ao lado da outra */
    @media screen and (max-width: 800px) {
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
      }
    }

    /* */
    @media screen and (max-width: 400px) {
      .topnav a {
        float: none;
        width: 100%;
      }
    }
    ul.a {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.b {
        list-style-type: square;
    }
    .column {
        float: left;
        padding: 1px;
    }

    .clearfix::after {
       content: "";
       clear: both;
       display: table;
}

    .menu {
       width: 105%;
    }


    .menu ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
    }

    .menu li {
      padding: 5px;
      margin-bottom: 1px;
      background-color: #33b5e5;
      color: #ffffff;
    }

    .menu li:hover {
      background-color: #0099cc;
    }
    